---
import Layout from "../layouts/Layout.astro";
---

<Layout header={false} title="404: Page not found">
  <main class="flex flex-col items-center gap-12 mb-36">
    <h2 class="text-4xl font-display self-center">404: Page not found 💔</h2>
    <p>Wh<i>oooooo</i>ps, this page is broken!</p>
    <a href="/"
      ><button
        class="shadow p-2 rounded bg-darkpink border-blue border text-white font-display"
        >Return to homepage</button
      ></a
    >
  </main>
</Layout>
