<header class="flex flex-col mt-2 mb-6">
  <section class="flex flex-col items-center">
    <h1
      class="text-6xl text-black font-display text-balance text-center mb-4 uppercase max-w-[10ch]"
    >
      Belting My Tits Off
    </h1>
    <p class="uppercase text-black text-pretty font-display text-center text-2xl mb-4 italic md:w-1/2 w-2/3">
      A fabulous evening celebrating trans and non-binary musical theatre talent
    </p>
  </section>
</header>
