<nav
  class="flex justify-center transform rotate-[3deg] mb-8 transition-transform hover:scale-105 active:scale-95"
>
  <a
    class="flex"
    href="https://www.gofundme.com/f/cn4vt-top-surgery"
  >
    <button
      class="flex gap-2 justify-between self-center items-center font-display text-lg bg-darkpink px-4 py-4 rounded-lg shadow"
    >
      <div class="flex-row flex gap-4">
        <div class="bg-white h-2 w-2 rounded-full"></div>
        <div class="bg-white h-2 w-2 rounded-full"></div>
        <div class="bg-white h-2 w-2 rounded-full"></div>
      </div>
      <div
        class="bg-white px-2 py-1 rounded-sm flex items-center justify-between gap-2 text-2xl text-pretty font-display"
      >
        Raising funds for El's top surgery
      </div>
      <div class="flex-row flex gap-4">
        <div class="bg-white h-2 w-2 rounded-full"></div>
        <div class="bg-white h-2 w-2 rounded-full"></div>
        <div class="bg-white h-2 w-2 rounded-full"></div>
      </div>
    </button>
  </a>
</nav>
