---
import Footer from "../components/footer.astro";
import { ViewTransitions } from "astro:transitions";
import logo from "../assets/logo.webp";
import Image from "astro/components/Image.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <ViewTransitions />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Concert+One&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="p-4 flex flex-col bg-blue" transition:animate="fade">
    <header class="mb-4">
      <a href="/"
        ><Image
          class="w-24"
          src={logo}
          alt="Belt Your Tits Off"
          loading="eager"
        /></a
      >
    </header>
    <div class="bg-lightpink px-8 py-4 mb-4 rounded shadow">
      <main>
        <slot />
      </main>
    </div>
    <Footer />
    <style is:global>
      @tailwind base;

      @tailwind components;

      @tailwind utilities;

      @tailwind variants;

      @layer base {
        .prose a {
          @apply underline;
        }

        .prose > p {
          @apply pb-2 text-pretty;
        }
      }
    </style>
  </body>
</html>
